doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/main.css")
		title Платежи
	body
		.container
			nav
				ul.menu
					li.menu__item
						a(href="#") Личный кабинет
					li.menu__item
						a(href="#") Платежи
					li.menu__item
						a(href="#") История платежей
					li.menu__item
						a(href="#") Настройки
					li.menu__item
						a(href="#") Выйти
			main
				.pay-info
					p.pay-info__head Информация об оплате:
					p.pay-info__acc-num Номер счета: 87123658716587
					p.pay-info__pay-amount Сумма платежа: 100р.
				
				form.card-info
					.card-info__head Данные банковской карты
					



				

				
	